
.k-block-buttons button {
    display: flex;
    justify-content: flex-start;
    margin: var(--spacing-1);
    padding: var(--spacing-2) var(--spacing-3);
    border-radius: var(--rounded);  
    color: var(--color-white);
    background: var(--color-gray-900);  
}

.k-block-buttons button.empty {
    color: var(--color-text-light);
    background: var(--color-background);
    opacity: .8;
    
}

.k-block-buttons button.error {
    background: var(--color-orange-200);
    color: #3d2b1e;
}

.k-block-buttons button .k-icon {
    margin-right: var(--spacing-1);
}


.k-block-buttons .k-block-buttons-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



