.k-block-buttons-group {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;

    }
}
.k-block-buttons-group-empty .k-icon {
    margin-right: var(--spacing-2);
}
.k-block-buttons-group .k-icon {
    margin-left: var(--spacing-2);
}
.k-block-buttons-group button + button {
    margin-left: var(--spacing-4);
    @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    margin-top: var(--spacing-4);

    }
}
.k-block-buttons-group button {
    display: flex;
    align-items: center;
    border-radius: var(--rounded);

}
.k-block-buttons-group button.empty {
    padding: var(--spacing-2) var(--spacing-4);
    background: var(--color-gray-100);
}




.k-block-buttons-group button.primary {
    padding: var(--spacing-2) var(--spacing-4);
    background: var(--color-text);
    color: var(--color-white);
}
.k-block-buttons-group button.primary.error {
        opacity: 0.8;
        border: 1px solid var(--color-negative);
        box-shadow: var(--color-negative-outline) 0 0 3px 2px;
}
.k-block-buttons-group button.primary.error .k-icon {
    color: var(--color-negative-light)
}



.k-block-buttons-group button.secondary {
    padding: var(--spacing-2) var(--spacing-4);
    border: solid 1px var(--color-border);
}
.k-block-buttons-group button.secondary.error {
    opacity: 0.8;
    border: 1px solid var(--color-negative);
    box-shadow: var(--color-negative-outline) 0 0 3px 2px;
}
.k-block-buttons-group button.secondary.error .k-icon  {
    color: var(--color-negative)
}



.k-block-buttons-group button.tertiary {
    text-decoration: underline;
    color: var(--color-focus);
}
.k-block-buttons-group button.tertiary.error {
    opacity: 0.8;
    color: var(--color-negative);
}